.section-1 {
  height: 300px;
  width: 500px;
  background: lightblue;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
